<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
</head>
<body>
    <h2>Contact Us</h2>
    <form action="/success" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="naem" required placeholder="name"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="email"><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
